// mixins.scss

// Миксин для контейнера
@mixin container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

// Миксин для медиа-запросов
@mixin respond-to($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: 600px) { @content; }
  }
  @if $breakpoint == medium {
    @media (max-width: 1024px) { @content; }
  }
}
