// variables.scss
$font-family: 'Roboto', sans-serif;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-size-normal: 16px;
$font-size-large: 48px;
$color-primary: rgba(52, 84, 122, 1);
$color-secondary: rgba(114, 114, 114, 1);
$color-white: #fff;
$color-background: rgba(238, 239, 241, 1);
$color-dark: black;
$color-footer: rgba(52, 84, 122, 1);
